%div
  %label Title:
  = @video.title
%div
  %label Original:
  = @video.input
%div
  %label High output:
  = @video.hi_output
%div
  %label Low output:
  = @video.low_output
%div
  %label Ts output:
  = @video.ts_output
%div
  %label State:
  = @video.state
%div
  %label Thumbs output:
  = @video.thumbs_output
%div
  %label Single thread:
  = @video.single_thread.to_s
%div
  %label Created at:
  = @video.created_at
%div
  %label Updated at:
  = @video.updated_at


= link_to "New", new_video_path
= link_to "Index", videos_path
